

<!-- About us section -->
<div class="w3-row-padding w3-padding-64 w3-container w3-sand w3-text-white" id="about">
  <div class="w3-content w3-center"><h1>About ARRAY INTERIORS</h1>


<div class="w3-half w3-padding-32">
    <p class="w3-padding-16" style="margin-right:5px">
  <b>Welcome To Array Interiors ...</b><br><br>
    A place where ideas, inspiration and art infuse together to bring your imagination and dreams to reality.
    <br> Array Interiors believes that interior designing is not just about home decoration; it’s about imaginative and efficient use of color, pattern, texture, light and space to create beautiful rooms which makes you feel as good as they look. We offer full service interior design to match any project budget and scope of  work! <br> We make sure that our home tells a story of what we are and is a collection of what we love.<br><br>
Share with us what your dream home looks like and we will make that dream vision of yours come true.
</p></div>
    <div class="w3-half w3-center w3-padding-16">
 <!-- slide show section--><br><br>

<div class="slideshow-container w3-center w3-sand" style="margin-left:8%;">
  <div class="mySlides fade">
    <img src="livingroom/1.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="kidsrooms/2.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="kitchens/1.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="3ddesigns/2.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/bedroom.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/dining.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/kitchen.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/room1.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/room2.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>

  <div class="mySlides fade">
    <img src="NewPhotos/stairs.jpg" style="width:100%;border: 2px solid #000;" class="image-fluid">
  </div>
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<br></div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++){
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
</div>
</div>
