<footer class="w3-container w3-black w3-center" >  
<div class="w3-half">
    <h6><i class="fa fa-copyright w3-hover-opacity"></i> 2018. All rights reserved.</h6>
</div>
<div class="w3-third">
   
</div>
<div class="w3-half m-padding">
    <h6>Developed by <a target="_blank" class="no-underline brown" href="https://icsoln.com">ICS</a></h6>
</div>
</footer>

<!-- Fixed footer section for call to action -->
 <div class="footer2 w3-center w3-hide-large w3-hide-medium w3-padding-16" style="box-shadow:10px 8px 8px 8px #c9c9c9;">
  <a href="tel:{{site.phone-1}}" style="text-decoration:none"><i class="fa fa-phone w3-text-green w3-xlarge" style="float:left;margin-left:15px"></i></a>
  <a href="mailto:{{site.email}}" style="text-decoration:none"><i class="fa fa-envelope w3-text-red w3-xlarge"></i></a>
  <a href="{{site.facebook}}" style="text-decoration:none" target="_blank"><i class="fa fa-facebook-official w3-text-indigo w3-xlarge" style="float:right;margin-right:15px"></i></a>
</div>
 