<!-- Navigation bar -->
<div class="topnav" style="position:fixed;width:100%;letter-spacing:3px;z-index:1;opacity:0.9">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-large w3-right w3-padding-large w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button zo" style="letter-spacing:1px"><span style="font-size:16px"><b>ARRAY INTERIORS</b></span></a>
    
    <div class="float-right">
    <a href="index.html#about" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large  zo w3-small" style="margin-top:5px">ABOUT US</a>
      <a href="index.html#work" class="w3-bar-item w3-button w3-hide-small  w3-hide-medium  w3-padding-large zo w3-small" style="margin-top:5px">OUR WORK</a>
      <div class="dropdown" style="">
    <div class="dropbtn zo w3-small w3-hide-small w3-hide-medium w3-black w3-button" style="margin-top:5px;">LOOKS <i class="fa fa-caret-down"></i>
    </div>
    <div class="dropdown-content w3-center">
       <div class="row">
        <div class="column w3-center">
		<a href="living.html">
		<img src="livingroom/1.jpg" style="max-height:120px" class="w3-center">
          <h6 style="color:black" class="w3-center">Living/Dining Room</h6>
		  </a>
           </div>
           <div class="column w3-center">
            <a href="bedrooms.html">
		<img src="bedrooms/bedroom.jpg" style="max-height:120px" class="w3-center">
          <h6 style="color:black" class="w3-center">Bed Room</h6></a>
           </div>
           
           <div class="column w3-center">		<a href="kitchens.html">
		<img src="kitchens/1.jpg" style="max-height:120px" class="w3-center">
          <h6 style="color:black" class="w3-center">Kitchens</h6></a>
           </div>
           
           <div class="column w3-center">
					<a href="kidrooms.html">
		<img src="kidsrooms/2.jpg" style="max-height:120px" class="w3-center">
          <h6 style="color:black" class="w3-center">Kids' Room</h6></a>
           </div>
           
		    <div class="column w3-center">	
			<a href="pooja.html">
		<img src="pooja/2.jpg" style="max-height:120px" class="w3-center">
          <h6 style="color:black" class="w3-center">Pooja Room</h6></a>
           </div>
		      <div class="column w3-center">	
			       <a href="foyer.html">
		        <img src="3ddesigns/2.jpg" style="max-height:120px" class="w3-center">
            <h6 style="color:black" class="w3-center">Foyer</h6></a>
          </div>

      </div>
    </div>
  </div> 
    <a href="index.html#materials" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large zo w3-small" style="margin-top:5px;">MATERIALS</a>
      <a href="howitworks.html" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large  zo w3-small" style="margin-top:5px;"> HOW WE WORK?</a> 
    <a href="contact.html" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large zo w3-small" style="margin-top:5px;">CONTACT US</a>
   </div>
</div>
<!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-bar w3-hide w3-hide-large w3-large w3-text-white" style="background-color:#353638">
      <a href="index.html#about" class="w3-bar-item w3-button w3-padding-large">ABOUT US</a>
	      <a href="index.html#work" class="w3-bar-item w3-button w3-padding-large">OUR WORK</a>
   <div class="dropdown zo w3-bar">
    <button class="dropbtn w3-bar-item w3-padding-large w3-text-white"> LOOKS 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content w3-black">
       <div class="row ">
        <div class=" w3-center ">
          <a href="living.html"><h6> Living/Dining rooms</h6></a>
           </div>
		    <div class=" w3-center">
          <a href="pooja.html"><h6> Pooja room</h6></a>
           </div>
		    <div class=" w3-center">
          <a href="foyer.html"><h6> Foyer</h6></a>
           </div>
		    <div class=" w3-center">
          <a href="bedrooms.html"><h6> Bed rooms</h6></a>
           </div>
		    <div class=" w3-center">
          <a href="kidrooms.html"><h6> Kids' rooms</h6></a>
           </div>
		     <div class=" w3-center">
          <a href="kitchens.html"><h6> Kitchens</h6></a>
           </div>
      </div>
    </div>
</div>
    <a href="index.html#materials" class="w3-bar-item w3-button w3-padding-large">MATERIALS</a>
    <a href="howitworks.html" class="w3-bar-item w3-button w3-padding-large">HOW WE WORK?</a>
    <a href="contact.html" class="w3-bar-item w3-button w3-padding-large">CONTACT US</a>
  </div>
</div>