 
    
<!-- services section -->
<div class="w3-row-padding w3-sand w3-padding-64 w3-container w3-text-white" id="services">
  <div class="w3-content">
     <div class="w3-container">
    <br><h2>Our Services</h2>
    <h6>You can find our services to be the best in the world:</h6>
  </div>
  
  <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="mainbgd.jpg" alt="Cinque Terre" style="width:100%">
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="livingroom/1.jpg" alt="New York" style="width:100%">
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="kitchens/1.jpg" alt="San Francisco" style="width:100%">
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="bedrooms/bedroom.jpg" alt="Pisa" style="width:100%">
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="kidsrooms/2.jpg" alt="Paris" style="width:100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="howitworks.html"><button class="w3-button w3-white w3-padding-large w3-large w3-margin-top">Check how we work >></button>
</a>
  </div>
</div>
