
<!-- Statistics section-->
<div class="w3-hide-small w3-hide-medium">
<div class="w3-container w3-row w3-center w3-white" style="padding:0px 150px 50px 150px"><hr><hr>
<div class="w3-container w3-padding-large" style="box-shadow:5px 5px 10px grey">
  <div class="w3-third"><br>
  <i class="fa fa-group w3-xxlarge" style="color:#8b4f39"></i><br>
    <span class="w3-xlarge" style="color:#8b4f39">100+</span>
    <br><h4 style="color:#858c85" class="w3-hide-small">Trusted by 100+<br> Customers</h4>
  </div>
  <div class="w3-third"><br>
  <i class="fa fa-globe w3-xxlarge" style="color:#8b4f39"></i><br>
  <span class="w3-xlarge" style="color:#8b4f39">10+</span>
    <br><h4 style="color:#858c85"  class="w3-hide-small">10+ years of<br> experience</h4>
  </div>
  <div class="w3-third"><br>
  <i class="fa fa-calendar w3-xxlarge" style="color:#8b4f39"></i><br>
    <span class="w3-xlarge" style="color:#8b4f39">75+</span>
    <br><h4 style="color:#858c85"  class="w3-hide-small"> 75+ happy <br> clients</h4>
  </div></div><hr>
</div>
</div>