

<section id="work">
<!-- Work section -->
<div class="w3-row-padding w3-padding-large w3-center" >
	<h1>Our Work</h1>
	<p>We work to give you the best. We work to keep up your imagination of of your dream home. We work to give the best of service at the best of price.<br>
Our mail focus is on Living/Dining room, Bed Rooms, Kid's room and Kitchen.</p>

<div class="w3-quarter">
	<div class="w3-card w3-white work-card" style="">
	<a href="living.html" style="text-decoration:none"><img src="livingroom/1.jpg" alt="Lights" style="width:100%">
	<div class="w3-container">
	<h3>Living rooms</h3>
	<p> Array Interiors design highly curated living rooms suiting your comforts without compramising on luxury.</p>  
	</div>
	</a>
    </div>
</div>
    
<div class="w3-quarter">
	<div class="w3-card w3-white work-card"  style="">
	<a href="kidrooms.html" style="text-decoration:none"><img src="kidsrooms/2.jpg" alt="Snow" style="width:100%">
	<div class="w3-container">
	<h3>Kids' rooms</h3>
	<p>Rooms that are built to enhance your kids' overall productivity by enlighting them to positivity.</p>
	</div>
	</a>
    </div>
</div>

<div class="w3-quarter">
	<div class="w3-card w3-white work-card" style="">
	<a href="kitchens.html" style="text-decoration:none"><img src="kitchens/1.jpg" alt="Lights" style="width:100%">
	<div class="w3-container">
	<h3>Kitchens</h3>
	<p> Kitchens that are a mix of traditional yet modern designs to spread a feel of positivity through out the area.</p>
	</div>
	</a>
    </div>
</div>

<div class="w3-quarter">
	<div class="w3-card w3-white work-card" style="">
	<a href="bedrooms.html" style="text-decoration:none"><img src="bedrooms/bedroom.jpg" alt="Mountains" style="width:100%">
	<div class="w3-container">
	<h3>Bed rooms</h3>
	<p> Taking into account the comfortness of an individual, Array interiors provide high standard bed rooms.</p>
	</div>
	</a>
    </div>
    </div>
</div>


</section>